<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About Us - VSS Job Portal</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body class="text-white" style="background-color: #577BC1; padding-top: 50px;">


  <nav class="navbar navbar-dark  fixed-top " style="background-color:#04052e">
    <div class="container-fluid d-flex justify-content-between">

      <div>
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="width: 20px; height: 20px;"></span>
        </button>
        <span class="text-light ms-auto">VSS Job Portal</span>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'job-list-web' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us</a>
          </li>
        </ul>
      </div>
  </nav>


  <div class="container mt-2" style="background-color: #577BC1;">
    
    <ul class="list-group ">

      <li class="list-group-item mb-3 shadow-sm d-flex align-items-center" style="border-radius: 8px;">
        
        <div>
          <h4 class="fw-bold text-primary">{{ job.title }}</h4>
          <p><strong> {{ job.company }}</strong></p>

        </div>
      </li>
    </ul>
    <ul class="list-group ">

      <li class="list-group-item mb-3 shadow-sm d-flex align-items-center" style="border-radius: 8px;">
        <div>
          <p><strong>Description:</strong> {{ job.description }}</p>
          <a class="btn btn-primary btn-sm" style="background-color:#04052e" href="{{ job.apply_url }}"
            target="_blank">Apply Now</a>

        </div>
      </li>
    </ul>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>